<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vacomall.mapper.RecordedMapper">

	<!-- 通用查询映射结果 -->
	<select id="getThisMonthRecord" parameterType="int" resultType="java.math.BigDecimal">
		SELECT IFNULL(sum(money),0) FROM fin_recorded WHERE MONTH = ${value} and year = ( SELECT DATE_FORMAT( CURRENT_TIMESTAMP(),'%Y' ) )
	</select>
	
	<select id="getThisMonthRecordList" parameterType="int" resultType="com.vacomall.entity.FinRecorded">
		SELECT * FROM fin_recorded WHERE MONTH = ${value} and year = ( SELECT DATE_FORMAT( CURRENT_TIMESTAMP(),'%Y' ) )
	</select>
	
	<select id="selectHistroyRecord" parameterType="Map" resultType="java.lang.Double">
		SELECT IFNULL(sum(money),0) FROM fin_recorded
		 <where>
             <if test="year !=null">
                 and year = #{year}
             </if>
             <if test="month != null">
                  and month = #{month}
             </if>
         </where>
	</select>
</mapper>
