<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vacomall.mapper.RecordedMapper">

	<!-- 通用查询映射结果 -->
	<select id="getThisMonthRecord" parameterType="map" resultType="java.math.BigDecimal">
		SELECT IFNULL(SUM(money),0) FROM fin_recorded a,sys_user b,fin_family c 
			WHERE a.`userId` = b.`id` AND b.`family_id` = c.`id` AND b.`family_id` = 
			(SELECT d.id FROM fin_family d,sys_user e WHERE d.`id` = e.`family_id` AND e.id = #{userId} )
			 AND a.`month` = #{month} and a.year = ( SELECT DATE_FORMAT( CURRENT_TIMESTAMP(),'%Y' ) )
	</select>
	
	<select id="getThisMonthRecordList" parameterType="map" resultType="com.vacomall.entity.FinRecorded">
		SELECT a.* FROM fin_recorded a,sys_user b,fin_family c 
			WHERE a.`userId` = b.`id` AND b.`family_id` = c.`id` AND b.`family_id` = 
			(SELECT d.id FROM fin_family d,sys_user e WHERE d.`id` = e.`family_id` AND e.id = #{userId} )
			 AND a.`month` = #{month} and a.year = ( SELECT DATE_FORMAT( CURRENT_TIMESTAMP(),'%Y' ) )
	</select>
	
	<select id="selectHistroyRecord" parameterType="Map" resultType="java.lang.Double">
		SELECT IFNULL(SUM(money),0) FROM fin_recorded a,sys_user b,fin_family c 
			WHERE a.`userId` = b.`id` AND b.`family_id` = c.`id` AND b.`family_id` = 
			(SELECT d.id FROM fin_family d,sys_user e WHERE d.`id` = e.`family_id` AND e.id = #{userId} )
             <if test="year !=null">
                 and a.year = #{year}
             </if>
             <if test="month != null">
                  and a.month = #{month}
             </if>
	</select>
	
	<select id="getCount" parameterType="map" resultType="int">
		SELECT count(*) FROM fin_recorded a,sys_user b,fin_family c 
			WHERE a.`userId` = b.`id` AND b.`family_id` = c.`id` AND b.`family_id` = 
			(SELECT d.id FROM fin_family d,sys_user e WHERE d.`id` = e.`family_id` AND e.id = #{userId} )
			 <if test="search !=null">
                 and a.money &lt; #{search}
             </if>
	</select>
	<select id="getPages" parameterType="map" resultType="com.vacomall.entity.FinRecorded">
		<bind name="start" value="(page.pageNow-1)*page.pageSize"/>
		SELECT a.* FROM fin_recorded a,sys_user b,fin_family c 
			WHERE a.`userId` = b.`id` AND b.`family_id` = c.`id` AND b.`family_id` = 
			(SELECT d.id FROM fin_family d,sys_user e WHERE d.`id` = e.`family_id` AND e.id = #{userId} )
			 <if test="search !=null">
                 and a.money &lt; #{search}
             </if>
              ORDER BY a.createTime DESC
            limit ${start},${page.pageSize}
	</select>
</mapper>
